.vscode
.settings
target
logs
/.idea/
/Logs/
/*.iml
/*.db

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/nbproject/

# Build Tracker #
builds/
logs/
DFE-CONVERTER-DEV.exe
DFE-CONVERTER-QA.exe
DFE-CONVERTER-PROD.exe
config.properties
